.reward-container-outer {
	padding-top: 70px;
	width: 100%;
	margin: auto;
	margin-bottom: 1em;
}

.reward-container-outer h1 {
	color: #085a5a !important;
	text-shadow: 1px 1px 2px #888;
	text-align: center;
	font-family: "Bree Serif";
	margin: 0 25% 0.25em 25%;
}

.reward-container {
	padding: 20px;
	color: #333;
}

.reward-paper {
	border-bottom: 1px solid #ccc;
}
/*
.reward-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.reward-list {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-column-gap: 20px;
}
.reward-item {
  padding: 20px;
  width: auto;
}

.reward-item-button-container {
  justify-self: end;
  grid-column-start: 2;
}*/
