.task-container-outer {
	padding-top: 70px;
	width: 80%;
	margin: auto;
}

.task-container-outer h1 {
	color: #085a5a !important;
	text-shadow: 1px 1px 2px #888;
	text-align: center;
	font-family: "Bree Serif";
	margin: 0 25% .25em 25%;
}

.task-container {
	padding: 20px;
	color: #333;
}

.student-task-paper {
	border-bottom: 1px solid #ccc;
}
.menu-card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.menu-card-button-container {
	width: 100%;
	text-align: right;
	margin-top: 10px;
}

.modal-title-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 10px;
	align-items: center;
	margin: 20px;
}

.modal-title-button {
	justify-self: end;
}
