.task-container-outer {
  padding-top: 70px;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}

.task-container-outer h1 {
  color: #085a5a !important;
  text-shadow: 1px 1px 2px #888;
  text-align: center;
  font-family: "Bree Serif";
  margin: 0 25% 0.25em 25%;
}

.task-container {
  padding: 20px;
  color: #333;
}

.menu-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.menu-card-button-container {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-title-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
  align-items: center;
  margin: 20px;
}

.modal-title-button {
  justify-self: end;
}

.rewards-chip-header {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding: 10px;
}
.reward-chip {
  height: 50px;
  font-size: 8px;
  margin: 8px;
  padding: 8px;
}
.reward-chip p {
  font-size: 16px;
}
.rewards-chip-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px;
}

.create-task-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
