body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* COLOR PALETTE */
.color-primary-0 {
  color: #dc2b2b;
}
.color-primary-1 {
  color: #ff9a9a;
}
.color-primary-2 {
  color: #ff6161;
}
.color-primary-3 {
  color: #960d0d;
}
.color-primary-4 {
  color: #300000;
}

/*/ Main Secondary color (1) /*/
.color-secondary-1-0 {
  color: #1a8484;
}
.color-secondary-1-1 {
  color: #85dcdc;
}
.color-secondary-1-2 {
  color: #3d9f9f;
}
.color-secondary-1-3 {
  color: #085a5a;
}
.color-secondary-1-4 {
  color: #001d1d;
}

/*/ Main Secondary color (2) /*/
.color-secondary-2-0 {
  color: #96cd28;
}
.color-secondary-2-1 {
  color: #d8f996;
}
.color-secondary-2-2 {
  color: #beef5b;
}
.color-secondary-2-3 {
  color: #618c0c;
}
.color-secondary-2-4 {
  color: #1e2d00;
}
/* COLOR PALETTE */
