.login-container {
	padding-top: 70px;
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	background-color: #85dcdc;
}

.login-container h2 {
	font-family: "Bree Serif";
}

.login-container h3 {
	font-family: "Bree Serif";
}

.login-container span {
	color: red;
	font-size: 12px;
}

.registration-container {
	max-width: 800px;
	margin: 0 auto;
}

.registration-form-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.registration-form-container fieldset {
	border: 2px solid #ccc;
	border-radius: 5px;
}
