.reward-container {
  max-width: 960px;
  padding: 20px;
}
.reward-card-header {
  background-color: #beef5b;
  color: white;
}
.reward-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.reward-list {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-column-gap: 20px;
}
.reward-item {
  margin: 10px;
  padding: 10px;
  width: auto;
  /*justify-content: center;*/
}

.reward-item-button-container {
  justify-self: end;
  grid-column-start: 2;
}
