.student-view-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 20px;
}

.student-card-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.student-assign-all {
	height: 50px;
	text-align: center;
	border: 3px solid #aaa;
	border-radius: 5px;
	margin-bottom: 20px;
}

.student-assign-all:hover {
	background-color: white;
}

.student-assign-all span {
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	color: #aaa;
}

.student-card {
	text-align: center;
	padding: 20px;
}

.student-card i {
	font-size: 100px;
	color: #960d0d;
}
