.task-container {
	max-width: 960px;
	margin: auto;
}

.menu-card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.menu-card-button-container {
	justify-self: end;
	grid-column-start: 2;
}

.modal-title-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 10px;
	align-items: center;
	margin: 20px;
}

.modal-title-button {
	justify-self: end;
}
